{% extends 'principal.html' %}

{% block body %}
<body>
  <header>

  </header>
  <nav>

  </nav>
  <section class="Cuerpo_principal">

    </section>
  </section>
  {% endblock %}
</body>
{% block footer %}
<section class="botones">
  <a href="/"><button type="button" id="button_html" name="button_html" >Principal</button></a>
  <a href="tutoriales.html"><button type="button" id="button_css" name="button_css">Tutoriales</button></a>
  <a href="avanzado.html"><button type="button" id="button_avanzados" name="button_avanzados">Avanzados</button></a>
</section>
  {% endblock%}
</html>
