{% extends 'principal.html' %}

{% block body %}
<body>
  <header>

  </header>
  <nav>

  </nav>
  <section class="Cuerpo_principal">
    <section id="container-main">
      <section id="container-main">
        <h1>Capítulos de HTML 5</h1>

        <!-- Capitulo 1 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo open">Capítulo 1 "Introducción a HTML para diseñadores."<span class="toggle-icon"></span></a>
          <div class="accordion-content" style="display: block;">
              {% for tuto in tutoriales%}
            </h3><a href="{{tuto.video}}"> {{tuto.titulo}}</a></h3><br><br>
                  <iframe width="800" height="380" src="{{tuto.direccion}}" frameborder="0" allowfullscreen></iframe>
              {%endfor%}

          </div>
        </section>

        <!-- Capitulo 2 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Capítulo 2 "Creando páginas básicas en HTML."<span class="toggle-icon"></span></a>
          <div class="accordion-content">
            <p>
              {% for tuto in tutoriales%}
                {% if tuto.capitulo == 2 %}
                  </h3><a href="{{MEDIA_URL}}{{tuto.video}}"> {{tuto.titulo}}</a></h3><br>
                {%endif%}
              {%endfor%}
            </p>
          </div>
        </section>

        <!-- Capitulo 3 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Capítulo 3 "Mostrando catálogos de elementos con HTML."<span class="toggle-icon"></span></a>
          <div class="accordion-content">
          </div>
        </section>

        <!-- Capitulo 4 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Capítulo 4 "Dando diseño a nuestro HTML."<span class="toggle-icon"></span></a>
          <div class="accordion-content">
          </div>
        </section>

        <!-- Capitulo 5 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Capítulo 5 "Imágenes y multimedia con HTML."<span class="toggle-icon"></span></a>
          <div class="accordion-content">
          </div>
        </section>

        <!-- Capitulo 6 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Capítulo 6 "Formularios en HTML."<span class="toggle-icon"></span></a>
          <div class="accordion-content">
          </div>
        </section>

        <!-- Capitulo 7 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Capítulo 7 "Usando javascript ademas de HTML."<span class="toggle-icon"></span></a>
          <div class="accordion-content">
          </div>
        </section>
      </section>
    </section>
  </section>
  {% endblock %}
</body>
