{% extends 'principal.html' %}

{% block body %}
<body>
  <header>

  </header>
  <nav>

  </nav>
  <section class="Cuerpo_principal">
    <section id="container-main">
      <section id="container-main">
        <h1>Tutoriales</h1>

        <!-- Tutorial 1 HTML-->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo open">Turorial 1 "HTML para Diseñadores."<span class="toggle-icon"></span></a>
          <div class="accordion-content" style="display: block;">
              {% for tuto in tutoriales%}
                {% if tuto.capitulo == 1 %}
                  <h3> ¿{{tuto.titulo}}?</h3>
                  <iframe width="860" height="280" src="{{tuto.direccion}}" frameborder="1" allowfullscreen></iframe>
                {% endif %}
              {% endfor %}
          </div>
        </section>

        <!-- Tutorial 2 CSS-->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Tutorial 2 "50 trucos con CSS."<span class="toggle-icon"></span></a>
          <div class="accordion-content">
              {% for tuto in tutoriales%}
                {% if tuto.capitulo == 2 %}
                  <h3>¿{{tuto.titulo}}?</h3>
                  <iframe width="860" height="280" src="{{tuto.direccion}}" frameborder="1" allowfullscreen></iframe>
                {%endif%}
              {%endfor%}
          </div>
        </section>

        <!-- Capitulo 3 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Tutorial 3 "Backbone.js...Proximamente"<span class="toggle-icon"></span></a>
          <div class="accordion-content">
          </div>
        </section>

        <!-- Capitulo 4 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Tutorial 4 "Node.js...Proximamente."<span class="toggle-icon"></span></a>
          <div class="accordion-content">
          </div>
        </section>

        <!-- Capitulo 5 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Tutorial 5 "PHP 5...Proximamente."<span class="toggle-icon"></span></a>
          <div class="accordion-content">
          </div>
        </section>

        <!-- Capitulo 6 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Tutorial 6 "Python...Proximamente."<span class="toggle-icon"></span></a>
          <div class="accordion-content">
          </div>
        </section>

        <!-- Capitulo 7 -->
        <section class="accordion-container">
          <a href="#" class="accordion-titulo">Tutorial 7 " Python Intermedio Proximamente"<span class="toggle-icon"></span></a>
          <div class="accordion-content">
          </div>
        </section>
      </section>
    </section>
  </section>
  {% endblock %}
</body>
{% block footer %}
<section class="botones">
  <a href="/"><button type="button" id="button_html" name="button_html" >Principal</button></a>
  <a href="descargas.html"><button type="button" id="button_css" name="button_css">Descargas</button></a>
  <a href="avanzado.html"><button type="button" id="button_avanzados" name="button_avanzados">Avanzados</button></a>
</section>
  {% endblock%}
